

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  background: url(../images/bk.png);
}

main {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
}

body > footer {
  margin: 2em auto 0;
}

#status {
  margin: 1.5em auto 1em;
  font-size: 220%;
  text-align: center;
}

#tabs {
  display: block;
  margin: 3em auto 0;
}

#tabs > nav {
  align-items: center;
  justify-content: center;
  margin: 0 0 3em;
}

#tabs > nav > *[selected] {
  color: #000;
  background: #febcbc;
  border-color: #9c1f1f;
}

#tabs h2 {
  font-size: 200%;
  margin: 0 0 1.5em;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  text-align: center;
}

/* SPEC LIST */

#specs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#specs dt {
  width: 100%;
  margin: 0 0 0.5em;
  text-align: center;
}

#specs dd {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0.5em 1.75em;
  padding: 0 1em 0 4em;
  background: rgb(240 240 240 / 75%) 0.75em center no-repeat;
  background-size: auto 2.5em;
  border: 1px solid rgb(0 0 0 / 30%);
  border-radius: 6px;
  cursor: pointer;
}

#specs dd:nth-of-type(1) {
  background-image: url(../images/orca-1.svg);
}
#specs dd:nth-of-type(2) {
  opacity: 0.4;
  background-image: url(../images/orca-5.svg);
}
#specs dd:nth-of-type(3) {
  background-image: url(../images/orca-2.svg);
}
#specs dd:nth-of-type(4) {
  background-size: auto 1.5em;
  background-image: url(../images/orca-3.svg);
}
#specs dd:nth-of-type(5) {
  background-image: url(../images/orca-4.svg);
}

#specs img {
  height: 3em;
}

/* ISSUE LIST */

#issues {
  list-style: none;
  margin: 0;
  padding: 0;
}

#issues li {
  margin: 0 0 2em;
  padding: 0 0 1em;
  border-bottom: 1px solid rgba(0,0,0,0.2)
}

#issues h3 {
  margin: 0 0 0.4em;
}

#jello_orcas {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

#jello {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

#jello_orcas .jello-orca {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
}

#jello_orcas .jello-orca:nth-child(2) {
  height: 15%;
  margin: -18% 0 0 -28%;
  transform: translate(-50%, -50%) rotate(48deg) scaleX(-1);
}

#jello_orcas .jello-orca:nth-child(3) {
  height: 18%;
  margin: -15% 0 0 -0.25%;
  transform: translate(-50%, -50%) rotate(-27deg) scaleX(-1);
}

#jello_orcas .jello-orca:nth-child(4) {
  height: 14%;
  margin: -2% 0 0 16%;
  transform: translate(-50%, -50%) rotate(3deg);
}

#jello_orcas .jello-orca:nth-child(5) {
  margin: -1.5% 0 0 -17.5%;
}

#jello_orcas .jello-orca:nth-child(6) {
  margin: -19% 0 0 28%;
  transform: translate(-50%, -50%) rotate(28deg);
}

